<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Musicly | About Us</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="css\standard.css">
    <link rel="stylesheet" href="/css/standard.css">
    <script src="https://kit.fontawesome.com/e83c3c859f.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="d-flex " id="wrapper">
        <!-- Sidebar-->
        <div class="border-end bg-black" id="sidebar-wrapper">
              <div class="sidebar-heading border-bottom bg-dark text-white logo">Musily</div>
    <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action list-group-item-dark p-3 bg-black text-white" href="/">HOME</a>
                <a class="list-group-item list-group-item-action list-group-item-dark p-3 bg-black text-white" href="/albums">ADD SONG</a>
                <a class="list-group-item list-group-item-action list-group-item-dark p-3 bg-black text-white" href="/play">PLAY SONG</a>
                <a class="list-group-item list-group-item-action list-group-item-dark p-3 bg-black text-white" href="/aboutus">ABOUT US</a>
                <a class="list-group-item list-group-item-action list-group-item-dark p-3 bg-black text-white" href="#!">TODO</a>
                <a class="list-group-item list-group-item-action list-group-item-dark p-3 bg-black text-white" href="#!">TODO</a>
            </div>
        </div>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="container-fluid ">
                    <button class="btn btn-light border" id="sidebarToggle"><i class="fa-solid fa-bars"></i></button>


                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </nav>
            <!-- Page content-->
            <div class="about">
                <h2>About Us</h2>
                <p>With Musily, it’s easy to find the right music or podcast for every moment – on your phone, your computer, your tablet and more. There are dozens of tracks and lyrics provided. So whether you’re behind the wheel, working out, partying or relaxing, you will always know your music's lyric at your fingertips. Choose what you want to listen to, or let Musily surprise you. You can also browse song name, artists, or album name. Just sit back and listen.</p>
                <p>Know your music, know your lyric.</p>
                <hr>
                <div>
                    <p>It's all begun on 8th April 2020, where our team started to decide the website that we planned to do. Two days after in-depth research and detail discussion,
                        we identified that there's still a lack of website that has a song and lyric, most of them has old user interface. So, we decided that why not try to make a website that could show music, and it's lyric, but also with beautiful design. The site we made is called Musily. The word is originated from a combination of "music" and "lyric" (music + lyric = musily). We began planning the wireframe using a tool called Figma. It has collaboration features which allow all of our team to sketch the website at the same time and on the same page.</p>
                </div>
                <div>
                    <p>The design was inpired by spotify, which has a background colour of linear gradient of certain color to black. It's also has a card-like design. We try to implement their design as minimalist as possible.</p>
                </div>
                <div>
                    On 10 April, we started planning the website from based on our inspiration. With the features that Figma provides, we able to come up with the basic design and idea of our website just within 1 day. The next day, we started to develop with the Live Share features that available in Visual Studio Code. It was surprisingly fast and productive. We coded the whole day from morning till night and continue throughout the next day. The basic features such as user interface, navigation tab, music list, music player, and lyrics card has been developed.
                </div>
                <div>
                    With all the sleepless night and colossal effort, the project is now ready to be published on a free website hosting service called 000. webhost on Sunday, 12th April 2020. It is published with basic complete features & foundation. You can try listening to our music track and sing along with the lyrics provided.We continue to develop and enhance our website alongside with the hosting, adding more pages such as About Us, Pricing, Contact Us, and more.
                </div>

            </div>

            <div class="team">
                <h1 class="h1-heading">Our Team</h1>
                <div>
                    <div class="card-group">
                        <div class="card">
                          <img src="assets/user2.png" class="card-img-top" alt="Image not available ">
                          <div class="card-body">
                            <h5 class="card-title">Name</h5>
                          </div>

                        </div>
                        <div class="card">
                          <img src="assets/user1.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Name</h5>

                          </div>

                        </div>
                        <div class="card">
                          <img src="assets/user3.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Name</h5>

                          </div>
                        </div>
                      </div>





                </div>

            </div>


    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>

</html>